
.first{
    height:100px;
    background-color: aqua;
}
.second{
    height:100px;
    background-color: yellowgreen;
}
.third{
    height:100px;
    background-color: pink;
}
.fourth{
    height:100px;
    background-color: lightcoral;
}
.fiveth{
    height:100px;
    background-color: violet;
}